langgraph
langchain
langchain-core
langchain-groq
python-dotenv
fastapi
uvicorn
pydantic
python-dotenv
langchain-tavily
wikipedia
wikipedia-api
trafilatura
requests 
beautifulsoup4
quadrant

requests
langchain-community
pypdf
docx2txt
langchain-text-splitters
langchain-google-genai
sentence-transformers
langchain-huggingface
pytesseract 
pillow
google-genai
pymupdf
deepgram-sdk
python-docx
pydub
ffmpeg
pydantic
asyncio
python-multipart
numpy
qdrant-client
langchain-qdrant
rank-bm25